
.lineSeparator{
    position: absolute;
    width: 100%;
    left: 0;
}

.navbarImg{
    max-height: 50px;
    padding: 10px;
    vertical-align: middle;
    border-style: none;
}

.buttonFilter > button{
      font-size: 14px;
    line-height: 18px ;
    color: rgb(72, 72, 72) ;
    padding-top: 6px;
    padding-bottom: 6px ;
    cursor: pointer ;
    padding-left: 12px ;
    padding-right: 12px ;
    margin-right: 15px;
    background: none ;
    border-width: 1px ;
    border-style: solid ;
    border-color: rgb(220, 224, 224) ;
    border-radius: 4px ;
    text-decoration: none ;
}

.buttonFilterMOB > div > button{
      font-size: 14px;
    line-height: 18px ;
    color: rgb(72, 72, 72) ;

    cursor: pointer ;
    margin-bottom: 15px;
    padding: 10px;  
    background: none ;
    border-width: 1px ;
    border-style: solid ;
    border-color: rgb(220, 224, 224) ;
    border-radius: 4px ;
   
    width: 200px;
}

.buttonProject{
      font-size: 12px;
    line-height: 18px ;
    color: black ;
    padding-top: 6px;
    padding-bottom: 6px ;
    cursor: pointer ;
    padding-left: 12px ;
    padding-right: 12px ;
    text-align: center ;
    background: none ;
    border: none;
    text-decoration: none ;
}